<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!-- 相对上面的设置，该配置可禁止页面被手势放大和缩小 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"  />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <meta name='full-screen' content='true' />
    <meta name='x5-fullscreen' content='true' />
    <meta name='360-fullscreen' content='true' />

    <title>数字化管理平台</title>

    <meta name="keywords" content="数字化 管理平台">
    <meta name="description" content="数字化 管理平台">

    <script src="../js/common/includeCommonCss.js"></script>

    <style>
        body {
            /*
            * 注意，container_content 如果不自适应，则body需要内补一个边距，边距=container_footer的高度
             */
            padding-top: 46px;
        }

    </style>
</head>
<body>
<div id="vueApp" class="container-fluid" v-cloak>
    <!-- 固定头部 begin -->
    <div class="navbar-fixed-top">
        <div class="row bg-primary">
            <div class="col-xs-2">
                <a class="btn btn-lg btn-trans btn-block  show"  onclick="onBackClick()();"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div class="col-xs-8 text-center">
                <span class="header-title">{{day}}日报</span>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-lg btn-trans btn-block  hidden" ><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <!-- 固定头部 end -->

    <div class="row">
        <div class="col-xs-12">
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row" v-for="(obj, index) in dailyGridDatas">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10">
                            <h5>{{obj.proName}}</h5>
                        </div>
                        <div class="col-xs-2">
                            <a v-show="obj.status!=2" @click="setDailySwitch(index)">
                                <i class="fa fa-toggle-on fa-2x" v-show="obj.dailySwitch==0"></i>
                                <i class="fa fa-toggle-off fa-2x" v-show="obj.dailySwitch==1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body" v-show="obj.dailySwitch==0">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">投入工时</label>
                                <select class="form-control" v-model="obj.hoursApply" :disabled="obj.status=='2'">
                                    <option value="8">8</option>
                                    <option value="7">7</option>
                                    <option value="6">6</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">工作内容</label>
                                <textarea class="form-control" rows="5" placeholder="工作内容" maxlength="1024" v-model="obj.jobContent" :disabled="obj.status=='2'"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            报工状态
                        </div>
                        <div class="col-xs-8">
                            <span class="label label-danger" v-if="obj.status=='-1'" >未报工</span>
                            <span class="label label-success" v-show="obj.status=='0'">审核中</span>
                            <span class="label label-danger" v-if="obj.status=='1'" >被驳回</span>
                            <span class="label label-info" v-if="obj.status=='2'" >已确认</span>
                        </div>
                    </div>
                    <div class="row" v-show="obj.memo!=''">
                        <div class="col-xs-4">
                            驳回原因
                        </div>
                        <div class="col-xs-8">
                            {{obj.memo}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 15px;">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" class="btn btn-primary btn-block" v-if="dailyGridDatas!=null && dailyGridDatas.length>0 && flag == 0" @click="saveDaily">提交工时</button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>






</div>


<script src="../js/common/includeCommonScript.js"></script>

<script>document.write('<script src="../js/modules/daily/dailyOperate.js?t=' + globalJsVer + '"><\/script>')</script>

<script>
    $(function () {

    });

</script>

</body>
</html>